<div class="card">
    <div class="card-header">Plan</div>
    <div class="card-body">
        <div *ngFor="let t of jettlos" class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{t.title}}</h5>
                <p class="card-content">{{t.description}}</p>
                <!-- <input type="text" class="form-control mb-3" [(ngModel)]="t.title" (blur)="onUpdate(t.id, t)" placeholder="Enter Task Title" style="font-weight: bold;">
                <textarea name="" id="" cols="42" rows="3" class="textarea mb-3 ms-2 me-2" [(ngModel)]="t.description" (blur)="onUpdate(t.id, t)" placeholder="Enter Task Description" ></textarea> -->
                <div class="d-flex flex-row-reverse">
                    <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                        <button
                            type="button"
                            class="btn btn-outline-success"
                            id="dropdownManual"
                            ngbDropdownAnchor
                            (focus)="myDrop.open()"
                        >
                        Action...
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownManual">
                            <button (click)="t.status = statusTodo; onUpdate(t.id, t)" ngbDropdownItem>Todo</button>
                            <button (click)="t.status = statusDone; onUpdate(t.id, t)" ngbDropdownItem>Done</button>
                            <button (click)="onRemove(t.id)" ngbDropdownItem>Remove</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>