<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header">New Student</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="mb-3">
                            <label for="" class="form-label">First Name:</label>
                            <input type="text" name="" id="" class="form-control" [(ngModel)]="student.firstName">
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Last Name:</label>
                            <input type="text" name="" id="" class="form-control" [(ngModel)]="student.lastName">
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Age:</label>
                            <input type="number" name="" id="" class="form-control" [(ngModel)]="student.age">
                        </div>
                    </li>
                    <li class="list-group-item mt-2 mb-2">
                        <button class="btn btn-primary me-3" (click)="onCreateStudent()">Save</button>                       
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let s of students">
                                <td>
                                    <input type="text" name="" id="" [(ngModel)]="s.firstName">
                                </td>
                                <td>
                                    <input type="text" name="" id="" [(ngModel)]="s.lastName">
                                </td>
                                <td>
                                    <input type="number" name="" id="" [(ngModel)]="s.age">
                                </td>
                                <td>
                                    <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                                        <button
                                            type="button"
                                            class="btn btn-outline-success me-2"
                                            id="dropdownManual"
                                            ngbDropdownAnchor
                                            (focus)="myDrop.open()"
                                        >
                                        More...
                                        </button>
                                        <div ngbDropdownMenu aria-labelledby="dropdownManual">
                                            <button (click)="onUpdate(s.id, s)" ngbDropdownItem>Update</button>
                                            <button (click)="onDelete(s.id)" ngbDropdownItem>Delete</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>